.navbar {
  background-color: #adb9e1;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #adb9e1;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #3f4f83;
  font-size: 20px;
  font-weight: bold;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
  border-radius: 4px;
}
.btn-info {
  background-color: #3f4f83 !important;

  position: absolute;
  bottom: 5px;
}
.btn-primary {
  background-color: #3f4f83 !important;
}

.nav-text a:hover {
  background-color: #8295d3;
  color: #d5dcf2;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #adb9e1;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3f4f83;
}

.span-space {
  margin-left: 16px;
}
